<div class="container">
  <div class="card_">
    <div class="app-name">
      <img src="logos/logo.png" alt="" />
      <h4>CS Bot</h4>
    </div>
    <div class="title">
      <h6>Connectez-vous pour commencer</h6>
    </div>
    <div class="google">
      <div
        id="g_id_onload"
        data-client_id="1091581283935-ded57l7pvlhlk6vui8u513liii45ph34.apps.googleusercontent.com"
        data-context="signin"
        data-ux_mode="popup"
        data-callback="handleOauthResponse"
        data-nonce=""
        data-auto_prompt="false"
      ></div>

      <div
        class="g_id_signin"
        data-type="standard"
        data-shape="pill"
        data-theme="filled_black"
        data-text="signin_with"
        data-size="medium"
        data-logo_alignment="left"
      ></div>
    </div>
  </div>
</div>
